* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#product-overview {
    background: url("freedom.jpg");
    width: 100%;
    height: 528px; 
    padding: 10px;
    text-align: center;
}

.section-title {
    color: #2ddf5c;
    text-align: center;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
    text-align: center;
    cursor: default;
    display: inline-block;
}

.plan {
   background-color: #d5ffdc;
   text-align: center;
   margin: 8px;
   padding: 16px;
   display: inline-block;
   width: 30%;
   vertical-align: middle;
   border-radius: 3px;
}

.plan--highlighted {
    background: #19b84c;
    color: #fff;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .5);
}

.plan__annotation {
    background: #fff;
    color: #19b84c;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .5);
}

.plan__title {
    color: #0e4f1f;
    cursor: default;
}

.plan__price{
    color: #858585;
}

.plan--highlighted .plan__title {
    color: #fff;
}

.plan--highlighted .plan__price {
    color: #0e4f1f;
}

.plan__features {
    list-style: none;
    line-height: 1.6;
    padding: 0;
    margin: 0;
}

.plan__features {
    margin: 8px 0;
}

.button {
    background: #0e4f1f;
    color: #fff;
    font: inherit;
    border: 1.5px solid #0e4f1f;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    cursor: pointer;
    font-weight: bold;
    transition: all .3s;
}
.button:focus {
    outline: none;
}

.button:hover,
.button:active {
    background: #fff;
    color: #0e4f1f;
    transform: scale(1.01);
    
} 

#key-features {
    background: #ff1b68;
    margin-top: 80px;
    padding: 16px;
}

#key-features .section-title {
    color: #fff;
    margin: 32px;
}

.key-features__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.key-feature__item {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.key-feature__description {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}

.key-feature__image {
    background: #ffcede;
    width: 128px;
    height: 128px;
    border: 2px solid #424242;
    border-radius: 50%;
    margin: 0 auto;
}
/* .key-feature__description {

} */

/* h1 {
    font-family: sans-serif;
} */

.main-header {
    width: 100%;
    background-color: rgba(133, 245, 133, 0.712);
    padding: 8px 16px;
    border-bottom: 1px solid black;
}

.main-header__brand {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    font-size: 22px;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 75px);
    vertical-align: middle;
}

.main-nav__list {
    margin: 0;
    padding: 0;
}

.main-nav__item {
    display: inline-block;
    margin: 0  16px;
}

.main-nav__item  a {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    padding: 3px 0;
    transition: all .4s;
}

.main-nav__item  a:hover,
.main-nav__item  a:active {
    color: white;
    border-bottom: 5px solid white;
}

.main-nav__item--cta a {
    color: white;
    background-color: #ff1b68;
    padding: 8px 16px;
    border-radius: 8px;
    transition: all .4s;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:hover {
    color: #ff1b68;
    background: white;
    border: none;
}

